.managers {
    min-height: 342px;
    background: url(..//img/managers_bg.png) center (center / cover) no-repeat;
    padding: 58px 0 75px 0;
    img {
        display: block;
        margin: 0 auto;
    }
    &_name {
        text-align: center;
        margin-top: 20px;
        font-size: 26px;
        line-height: 23px;
        font-weight: 700;
        color: #ffffff;
    }
    &_descr {
        text-align: center;
        margin-top: 22px;
        font-size: 19px;
        line-height: 27px;
        font-weight: 300;
        color: #ffffff;
    }
}